body {
  font-size: 16px;
  background-color: rgb(241, 160, 101);
  font-family: sans-serif;
}

#header-nav{
  border-radius: 0;
  border: 0;
}

.navbar-brand{
  padding-top: 25px;
  padding-bottom: 50px;
}

.navbar-brand h1{
  font-size: 2em;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
  /*line-height: .75;*/
  color: black;
}
#nav-list{
  background-color: rgb(170, 209, 102);
}
#nav-list a{
  text-align: center;
}
#nav-list a:hover{
  background: darkgray;
}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

h2{
  margin-bottom: 20px;
}
h3{
  font-weight: bolder;
}

#actual-content{
  background-color: darkseagreen;
  margin-right: auto;
  margin-left: auto;
  height: 1300px;
}